In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_parquet("data/job_table.parquet")
df.head()

,pn_min_cpus,resize_time,ntasks_per_socket,tres_freq,comment,ntasks_per_socket_str,std_in,array_task_throttle,max_nodes,contiguous,...,cpus_allocated,billable_tres,last_sched_eval,eligible_time,power_flags,cores_per_socket,sockets_per_node,shared,cpus_per_task,req_nodes
0,4,1970-01-01 01:00:00+00:00,,,,UNLIMITED,/dev/null,,0,False,...,{'r245n04': 4},4.0,2020-05-22T01:07:00.000Z,2020-05-22 01:06:05+00:00,0,,,OK,4,['r245n04']
1,4,1970-01-01 01:00:00+00:00,,,,UNLIMITED,/dev/null,,0,False,...,{'r250n19': 4},4.0,2020-05-22T01:07:00.000Z,2020-05-22 01:06:10+00:00,0,,,OK,4,['r250n19']
2,32,1970-01-01 01:00:00+00:00,,,,UNLIMITED,/dev/null,,0,False,...,"{'r212n10': 32, 'r212n15': 32, 'r212n14': 32, ...",256.0,2020-05-22T09:28:37.000Z,2020-05-22 09:28:37+00:00,0,,,OK,1,
3,4,1970-01-01 01:00:00+00:00,,,,UNLIMITED,/dev/null,,0,False,...,{'r209n15': 4},4.0,2020-05-22T20:39:06.000Z,2020-05-22 01:05:39+00:00,0,,,OK,4,['r209n15']
4,256,1970-01-01 01:00:00+00:00,2.0,,,2,/dev/null,,1,False,...,,,2020-05-22T18:56:39.000Z,2020-05-22 18:56:39+00:00,0,,,OK,32,

In [7]:
print(f"Number of features: {len(df.columns)}")

Number of features: 100

In [11]:
print("Features name:")
for col in df.columns:
    print(f"- {col}")

Features name:
- pn_min_cpus
- resize_time
- ntasks_per_socket
- tres_freq
- comment
- ntasks_per_socket_str
- std_in
- array_task_throttle
- max_nodes
- contiguous
- max_cpus
- resv_name
- user_id
- tres_per_task
- derived_ec
- tres_per_socket
- exc_nodes
- tres_req_str
- array_job_id
- boards_per_node
- priority
- num_nodes
- tres_per_node
- cpus_alloc_layout
- name
- run_time_str
- array_task_str
- time_min
- time_limit_str
- end_time
- year_month
- alloc_sid
- mem_per_cpu
- req_switch
- show_flags
- group_id
- wait4switch
- array_task_id
- exit_code
- mem_per_node
- restart_cnt
- requeue
- tres_bind
- profile
- batch_flag
- plugin
- work_dir
- pn_min_memory
- nice
- ntasks_per_node
- ntasks_per_core_str
- accrue_time
- tres_alloc_str
- nodes
- sockets_per_board
- std_out
- array_max_tasks
- job_id
- account
- assoc_id
- dependency
- threads_per_core
- min_memory_cpu
- state_reason
- start_time
- suspend_time
- batch_host
- command
- partition
- tres_per_job
- num_tasks
- metric
- std_err
- wckey
- qos
- alloc_node
- min_memory_node
- pn_min_tmp_disk
- ntasks_per_board
- ntasks_per_core
- sched_nodes
- cpus_per_tres
- run_time
- num_cpus
- reboot
- time_limit
- bitflags
- job_state
- submit_time
- features
- cpus_allocated
- billable_tres
- last_sched_eval
- eligible_time
- power_flags
- cores_per_socket
- sockets_per_node
- shared
- cpus_per_task
- req_nodes

In [32]:
df["max_cpus"].unique()

array(['0', ''], dtype=object)

In [3]:
tmp = df[["name", "command", "user_id", "ntasks_per_socket", "time_limit", "group_id", "account", "partition", "dependency", "qos", "req_nodes"]]

In [4]:
tmp.head()

,name,command,user_id,ntasks_per_socket,time_limit,group_id,account,partition,dependency,qos,req_nodes
0,slurm_multinode_prova,/m100_scratch/userinternal/nshukla1/stream_CPU...,32171,,10,25200,cin_staff,m100_usr_prod,,normal,['r245n04']
1,slurm_multinode_prova,/m100_scratch/userinternal/nshukla1/stream_CPU...,32171,,10,25200,cin_staff,m100_usr_prod,,normal,['r250n19']
2,vasp.cmd,/m100_work/IscrB_REMIDA/Co-Gr-Ni111-adatom/tes...,25639,,360,25200,iscrb_remida,m100_usr_prod,,normal,
3,slurm_multinode_prova,/m100_scratch/userinternal/nshukla1/stream_CPU...,32171,,10,25200,cin_staff,m100_usr_prod,,normal,['r209n15']
4,CBC,/m100_scratch/userexternal/squlagha/CaB3C3/job...,32152,2.0,360,25200,iscrc_hts-cbc,m100_usr_prod,,normal,

In [5]:
failed = df[df["job_state"] == "FAILED"]
failed.head()

,pn_min_cpus,resize_time,ntasks_per_socket,tres_freq,comment,ntasks_per_socket_str,std_in,array_task_throttle,max_nodes,contiguous,...,cpus_allocated,billable_tres,last_sched_eval,eligible_time,power_flags,cores_per_socket,sockets_per_node,shared,cpus_per_task,req_nodes
4,256,1970-01-01 01:00:00+00:00,2.0,,,2,/dev/null,,1,False,...,,,2020-05-22T18:56:39.000Z,2020-05-22 18:56:39+00:00,0,,,OK,32,
10,32,1970-01-01 01:00:00+00:00,1.0,,,1,/dev/null,,0,False,...,{'r237n09': 32},32.0,2020-05-22T14:31:33.000Z,2020-05-22 14:31:30+00:00,0,,,OK,32,
15,128,1970-01-01 01:00:00+00:00,2.0,,,2,/dev/null,,0,False,...,"{'r236n19': 128, 'r236n18': 128, 'r236n17': 12...",512.0,2020-05-22T09:17:03.000Z,2020-05-22 09:16:42+00:00,0,,,OK,32,
27,24,1970-01-01 01:00:00+00:00,,,,UNLIMITED,/dev/null,,0,False,...,"{'r209n13': 24, 'r209n05': 24, 'r209n14': 24, ...",96.0,2020-05-22T21:10:22.000Z,2020-05-22 21:09:03+00:00,0,,,OK,6,
33,16,1970-01-01 01:00:00+00:00,4.0,,,4,/dev/null,,0,False,...,{'r223n08': 16},16.0,2020-05-22T21:51:44.000Z,2020-05-22 21:51:44+00:00,0,,,OK,4,